*.jar
*.war
*.ear
*.class
*.*~
*~
*.target
**/target/

.metadata
*bin
**/tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
*.settings
*.prefs
.loadpath
.gitkeep
.editorconfig
.gitattributes
.externalToolBuilders/
*.launch

**/RemoteSystemsTempFiles
.idea/
*.log
*.zip
*.tar.gz
*.rar
.project
.recommenders
**/output/
*.orig
*.iml
.merge_file*
**/temp/
hs_err_pid*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
java/apitest/allure-results/

Thumbs.db
Desktop.ini

.mvn/timing.properties
**/nbproject/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/.tern-project
**/.texlipse
**/.springBeans
**/.cache-main
**/.scala_dependencies
**/.worksheet
**/.factorypath
**/Servers
